<li class="country-item" style = 'display:flex; align-items:center'>
    <img src="{{flags.svg}}" alt="{{name.official}}" width = '30' height="20">
    <h2 class="country-name" style="margin-left: 10px;">{{name.common}}</h2>
</li>